h1 {
    text-align: center;
}

input[type="text"], button {
    margin: 10px;
}

#artworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artwork {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.artwork img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
