.card {
  width: 50px;  
  height: 1000px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border: 1px solid gray;
}

.card.hovered {
  transform: scale(1.1);
}

.fondocard {
  width: 100%;
  height: 100%;
  }

  .fondoArtistas{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: #889ccf;
    margin:  25px;
    overflow: hidden;
    padding: 20px;
  }
  .fondoMercado{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    background: #889ccf;
    margin:  25px;
    overflow: hidden;
    padding: 20px;
  }

  .estilocarrusel{
    flex: 0 0 100%;
    width: 100%;
  }
  
  #login-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: green; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px; 
    cursor: pointer;
}

.cardventa{
 height: 50%;
 width: 50%;
}

.img{
  float: left;
  height: 10%;
  width: 10%;
  border-radius: 5%;
  border: black;
}

[popover] {
  background: #222;
  border: 0;
  border-bottom: 5px solid steelblue;
  color: white;
  font-family: Jost;
  font-size: 1.2rem;
  padding: 0.05rem 1.25rem;
}

#text{
  background-color: rgb(0, 0, 0, 0.75);
  border: 100px;
}

#background{
  background: rgb(144,156,204);
  background: linear-gradient(0deg, rgba(144,156,204,1) 50%, rgba(255,255,255,1) 100%);
}

#background2{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(144,156,204,1) 85%);
}