{% extends 'administrador/base2.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        {% block content %}
        <tr>
            <td> <a href="{% url 'usuarios:crud' %}">Usuarios</a>
            <td> <a href="{% url 'usuarios:crud_generos' %}">Generos</a>
        </tr>
        {% endblock %}
    </body>
</html>