{% extends 'administrador/base2.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{% static 'css/crudstyle.css' %}">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>Home-Iniciar Sesión</title>
    </head>
    {% block content %}
    <body id="crudBackground">
        <div id="containerCrud2">
            <h1>Página de Inicio</h1><br><br>
            <button type="button">
                <a href="{% url 'administrador:menuCrud' %}">Gestionar</a>
            </button>
        </div>
    </body>
    {% endblock %}
</html>