{% extends 'administrador/base2.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
    </head>
    {% block content %}
    <body>


        <h1>EDITAR DATOS DE USUARIOS</h1>
        <br>

        <button type="button">
            <a href="{% url 'usuarios:usuariosAdd' %}"> Agregar</a>
        </button>
    

        <div id="idMensajes">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>

        <table>
            {% if usuarios %}
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido P.</th>
                <th>Eliminar</th>
                <th>Modificar</th>
                {% for x in usuarios %}
                    <tr>
                        <td> {{ x.rut }}
                        <td> {{ x.nombre }}
                        <td> {{ x.apellido_paterno }}
                        <td> <a href="{% url 'usuarios:usuarios_del' pk=x.rut %}">Eliminar</a>
                        <td> <a href="{% url 'usuarios:usuarios_findEdit' pk=x.rut %}">Modificar</a>    
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <button type="button">
            <a href="{% url 'administrador:crudMenu' %}">Volver</a>
        </button>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#idMensajes").delay(2000).fadeOut("slow");
            });
        </script>
    </body>
    {% endblock %}
</html>