{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Cargando CSS -->
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <!-- Cargando Bootstrap CSS y JS (de bootstrap) -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        <div id="containerNav">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'usuarios:Menu' %}">
                        <img src="{% static 'img/Logo.webp' %}" alt="GroundZero" width="40" height="35">
                    </a>
                    <a class="navbar-brand" href="{% url 'usuarios:Menu' %}">Ground Zero</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'usuarios:Menu' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Crear cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:VistaArtistas' %}">Artistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:VistaMercado' %}">Mercado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:artes' %}">Obras</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Articulos
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'usuarios:VistaCarrusel' %}">Pinceles</a></li>
                            <li><a class="dropdown-item" href="{% url 'usuarios:VistaCarrusel' %}">Pinturas</a></li>
                            <li><a class="dropdown-item" href="{% url 'usuarios:VistaCarrusel' %}">Atriles</a></li>
                            <li><a class="dropdown-item" href="{% url 'usuarios:VistaCarrusel' %}">Telas</a></li>
                            </ul>
                        </li>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                        {% if user.is_authenticated %}
                        {{user.username}}
                            <div class="d-flex">
                                <a class="btn btn-primary" href="{% url 'administrador:crudMenu' %}" role="button">Admin</a>  
                            </div>
                        {% endif %}
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    {{user.username}}
                                    <li><a href="{% url 'administrador:crudMenu' %}">Menu crud</a></li> 
                                    <li><a href="{% url 'logout' %}">Cerrar sessión</a></li> 
                                {% else %}
                                    <a href = "{% url 'login' %}">Iniciar Sesión</a>
                                {% endif %}
                            </ul>
                        <div id="perfil-icon" style="display: none;">
                            <i class="fas fa-user-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}

        {% endblock %}


    </body>
</html>